{% extends "layout.html" %}


{% block content %}
<h3>Hello World!</h3>
<div class="ui input">
  <input type="text" placeholder="Search...">
</div>

<div class="ui left icon input loading">
  <input type="text" placeholder="Search...">
  <i class="search icon"></i>
</div>
<table class="ui celled table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Job</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">James</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Jill</td>
      <td data-label="Age">26</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Elyse</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Designer</td>
    </tr>
  </tbody>
</table>

<h1>
    ITEMS
</h1>


<table>


{% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}